page-profile {
    .title{
      text-align:center;
      color: orange;
    }
    .comentary{
      color:orange;
      font-size: 14px;
    }
    .first{
        float:left;
    }
    .user-card{
      width: auto;
      min-width: 1800px;
      height: auto;
    }
    .background-image{
        background: url(../assets/img/aaa.jpg);
        background-repeat: no-repeat;
        background-position: center;
        margin: auto;
        position: relative;
    }
    .button-google-sign{
    	margin-top: 10%;

    }
    .user-photo{
      margin: auto;
      border-radius: 50%;
      width: 200px;
      height: 200px
    }
    .center {
      margin: auto;
      width: 100%;
      padding: 10px;
      text-align: center;
    }
    .title-card-header{
      color: white;
      text-align: center;
    }
    .card-header{
      background-color: #F8B136;
    }
    .text-card-content{
      text-align: center;
    }
    .current {
      position: absolute;
      color: #bbb;
      font-size: x-large;
      font-weight: 100;
      line-height: 1;
      margin-top: 38%;
      margin-left: 28%;
      margirn-rigth: 40%
    }
}