page-challenges {
	.formButton{
		margin:auto;
		text-align:center;
		background-color: orange
	}
	.title-card-header{
		color: #F8B136;
		text-align: center;
	}
	.form-content{
		text-align: center;
		margin:auto;
	}
	.title-card-full{
		background-color: #F8B136;
		text-align: center;
		color: white;
	}
	.content-card-full{
		text-align: center;
	}
	.challenge-label{
		color: orange;
	}
	
}	
